
/*///////////////////////////// Responsive CSS Structure ///////////////////////////////////////*/




/*---------- Large Desktop , Large Screen Start ----------*/

/*=== Screen Size = 1200, 1280, 1366, 1920 ===*/ 

@media (min-width: 1920px) {

.work_slider {
	max-width: 1679px;
}

}


/*---------- Desktop , Laptop Start ----------*/

/*=== Screen Size = 1024, 1200 ===*/ 

@media (min-width: 992px) and (max-width: 1199px) {

.navbar {
	width: 78%;
}

.navbar-default .navbar-nav > li {
	margin-right: 20px;
	margin-left: 10px;
}

.work_slider {
	max-width: 900px;
}

.contact_content {
	padding-right: 50px;
	padding-left: 50px;
}

}


/*---------- Desktop , Laptop End ----------*/





/*---------- Tablet , Ipad Start ----------*/

/*=== Screen Size = 768, 800, 900, 980 ===*/

@media (min-width: 768px) and (max-width: 991px) {

#main_banner {
	padding-bottom: 50px;
}

.navbar {
	width: 76%;
}

.navbar .collapse {
	padding: 0;
}

.navbar-default .navbar-nav > li {
	margin-right: 20px;
	margin-left: 10px;
}

.navbar-default .navbar-nav > li > a {
	padding-right: 10px;
	padding-left: 10px;
}

.social-icons {
	margin-right: 0;
}

#main_banner .logo {
	margin-top: 50px;
}

#about_section {
	margin-bottom: 100px;
}

#about_section .arrow-bar {
	padding-top: 50px;
	padding-bottom: 80px;
}

.about_content {
	margin: 0;
}

#bio_section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bio_content {
	margin: 0;
	padding-right: 40px;
	padding-left: 40px;
}

.work_slider {
	max-width: 660px;
}

.work_slider .owl-prev,
.work_slider .owl-next {
	width: 30px;
	height: 29px;
	background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
}

.work_slider .owl-prev {
	margin-left: -40px;
}

.work_slider .owl-next {
	margin-right: -40px;
}

.contact_content {
	padding-right: 30px;
	padding-left: 30px;
	margin: 0;
}

.contact_content .left-content,
.contact_content .right-content { width: 320px; }


}
	
/*---------- Tablet , Ipad End ----------*/





/*---------- Small Mobile , Small Tablet Start ----------*/

/*=== Screen Size = 600, 640, 700, 767 ===*/


@media (max-width: 767px) {

#main_banner {
	padding-bottom: 50px;
}

.navbar {
	width: 100%;
	text-align: left;
}

.navbar-collapse { border: none; }

.navbar-default .navbar-toggle {
	margin-top: 2px;
	margin-right: 0;
	background-color: #fff;
	border: none;
}

.navbar-default .navbar-nav > li {
	display: block;
	margin-right: 0;
	margin-left: 0;
	border-bottom: dashed 1px #3d3d3c;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.navbar-default .navbar-nav > li > a::after { display: none; }

.social-icons {
	position: absolute;
	top: 35px;
	left: 0;
	margin-right: 0;
}

#main_banner .logo {
	margin-top: 50px;
}

#main_banner .logo a {
	width: 40%;
	margin: 0 auto;
}

#main_banner .logo a img { width: 100%; }

#about_section {
	margin-bottom: 100px;
}

#about_section .arrow-bar {
	padding-top: 30px;
	padding-bottom: 50px;
}

#about_section .arrow-bar span {
	width: 20px;
	margin: 0 auto;
}

#about_section .arrow-bar span img { width: 100%; }

.about_content {
	margin: 0;
}

#bio_section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bio_content {
	margin: 0;
	padding-right: 40px;
	padding-left: 40px;
}

.work_slider {
	max-width: 85%;
}

.work_slider .owl-prev,
.work_slider .owl-next {
	width: 20px;
	height: 19px;
	background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
}

.work_slider .owl-prev {
	margin-left: -30px;
}

.work_slider .owl-next {
	margin-right: -30px;
}

#slider_section .modal-dialog {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.modal-dialog .content_block {
	padding: 40px 30px;
}

.contact_content {
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
}

.contact_content .left-content,
.contact_content .right-content { width: 100%; }

.about_content p,
.bio_content p,
.contact_content p,
.modal-dialog .content_block p {
	font-size: 16px;
	line-height: 20px;
}

}

@media (min-width: 569px) and (max-width: 767px) {

}

/*---------- Small Mobile , Small Tablet End ----------*/




/*---------- Small Mobile , IPhone Start ----------*/

/*=== Screen Size = 240, 320, 360, 480, 568 ===*/ 

@media (min-width: 240px) and (max-width: 568px) {



}


@media (max-width: 360px) {

.work_slider .owl-prev {
	margin-left: -20px;
}

.work_slider .owl-next {
	margin-right: -20px;
}

.contact_content .textbox.wpcf7-not-valid { margin-bottom: 55px; }

.contact_content .wpcf7-not-valid-tip { margin-top: 10px; }

}


/*---------- Small Mobile , IPhone End ----------*/
