
/*===== Common Class =====*/

body {
	padding: 0;
	margin: 0;
	font-family: 'another_typewriter';
	font-size: 20px;
	color: #3d3d3c;
}

html,
body {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

ul, ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a, a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

a, input, button, textarea, label {
	outline: none !important;
}

img {
	border: none;
}

:focus {
	outline: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

input::-moz-placeholder { opacity: 1; }

input::-webkit-input-placeholder { opacity: 1; }

/*===== Common Class =====*/ 


/*==================================================================*/
/*========== Bootstrap Class Overwrite Start ==========*/
/*==================================================================*/
 

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
}


/*==================================================================*/
/*========== Bootstrap Class Overwrite Class End ==========*/
/*==================================================================*/


/*==================================================================*/
/*========== New Class Add Start ==========*/
/*==================================================================*/


/*===== Common Class =====*/

.float-none {
	float: none !important;
}


/*===== Common Class =====*/


/************************* Top Banner Start *************************/

#main_banner {
	position: relative;
	background-attachment: fixed;
	float: left;
	width: 100%;
	padding-bottom: 170px;
	background: url(../images/banner-bg.jpg) repeat-x;
}


/***** Header Start *****/

#header {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 30px;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	-ms-transition: all ease-in-out 500ms;
}

#header.sticky {
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.50);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.50);
	-ms-box-shadow: 0 2px 3px rgba(0,0,0,.50);
}

.navbar {
	width: 82%;
	float: left;
	margin-bottom: 0;
	text-align: right;
	background: none;
	border: none;
}

.navbar-default .navbar-nav { float: none; }

.navbar-default .navbar-nav > li {
	display: inline-block;
	float: none;
	margin-right: 30px;
	margin-left: 30px;
}

.navbar-default .navbar-nav > li > a {
	position: relative;
	padding-top: 0;
	padding-right: 23px;
	padding-left: 23px;
	color: #3d3d3c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { background-color: transparent; }

.navbar-default .navbar-nav > li > a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: 10px;
	border-bottom: dashed 2px transparent;
	content: "";
	transition: all ease-in-out 300ms;
	-webkit-transition: all ease-in-out 300ms;
	-ms-transition: all ease-in-out 300ms;
}

.navbar-default .navbar-nav > li.active > a:after,
.navbar-default .navbar-nav > li > a:hover:after {
	margin-top: 0;
	border-bottom-color: #3d3d3c;
}

.social-icons {
	float: right;
	margin-right: 30px;
}

.social-icons li {
	display: block;
	float: left;
	margin-left: 10px;
}

.social-icons li a {
	display: block;
	float: left;
}

#main_banner .logo {
	width: 100%;
	margin-top: 230px;
	overflow: hidden;
	clear: both;
	text-align: center;
}

#main_banner .logo a { display: inline-block; }

/***** Header End *****/


/************************* Top Banner End *************************/





/************************* About Section Start *************************/


#about_section {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 160px;
}

#about_section .float-none { padding: 0; }

.about_content {
	margin: 0 -5px;
	overflow: hidden;
	clear: both;
}

#about_section .arrow-bar {
	padding-top: 80px;
	padding-bottom: 165px;
	overflow: hidden;
	clear: both;
	text-align: center;
}

#about_section .arrow-bar span { display: inline-block; }

.about_content h3 {
	padding-bottom: 20px;
	font-size: 30px;
	color: #3d3d3c;
}

.about_content p {
	margin-top: 20px;
	line-height: 30px;
}


/************************* About Section End *************************/



/************************* Bio Section Start *************************/


#bio_section {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 278px;
	padding-bottom: 233px;
	background: url(../images/pattern-bg.jpg) repeat;
}

#bio_section .float-none { padding: 0; }

.bio_content {
	margin: 0 -10px;
	padding-top: 65px;
	padding-right: 100px;
	padding-bottom: 105px;
	padding-left: 100px;
	background-color: #fff;
	overflow: hidden;
	clear: both;
}

.bio_content h3 {
	padding-bottom: 20px;
	font-size: 30px;
	color: #3d3d3c;
}

.bio_content p {
	margin-top: 20px;
	line-height: 30px;
}

.bio_content .sep {
	width: 68px;
	margin-top: 68px;
	margin-bottom: 73px;
	margin-left: -22px;
	border-bottom: dashed 2px #3d3d3c;
	overflow: hidden;
	clear: both;
}

/************************* Bio Section End *************************/




/************************* Slider Section Start *************************/

#slider_section {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 12px;
	background: url(../images/slider-bg.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
}

.work_slider {
	max-width: 1109px;
	margin-top: 200px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
	padding-top: 83px;
	padding-bottom: 122px;
	background-image: url(../images/shad-left.png), url(../images/shad-right.png);
	background-repeat: no-repeat, no-repeat;
	background-position: center left, center right;
}

.work_slider .owl-stage-outer { z-index: 5; }

.work_slider .item {
	min-height: 273px;
	border: dashed 2px #3d3d3c;
}

.work_slider .item:hover { background-color: rgba(255,255,255,.30); }

.work_slider .content_box {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.work_slider .content_box a {
	display: block;
	color: #3d3d3c;
}

.work_slider h3 {
	font-size: 30px;
	color: #3d3d3c;
}

.work_slider .content_box span {
	display: block;
	font-size: 20px;
	color: #3d3d3c;
}

.work_slider .owl-controls {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.work_slider .owl-prev {
	float: left;
	width: 40px;
	height: 39px;
	margin-left: -58px;
	background: url(../images/arrow-left.png) no-repeat;
}

.work_slider .owl-next {
	float: right;
	width: 40px;
	height: 39px;
	margin-right: -58px;
	background: url(../images/arrow-right.png) no-repeat;
}

#slider_section .modal-backdrop.in { opacity: 0; }

#slider_section .modal-dialog { width: 570px; }

#slider_section .modal-content {
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,.50);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.50);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,.50);
}

#slider_section .modal-body { padding: 0; }

.modal-dialog .content_block {
	padding-top: 70px;
	padding-right: 100px;
	padding-bottom: 105px;
	padding-left: 100px;
	overflow: hidden;
	clear: both;
}

.modal-dialog .content_block h3 { text-align: center; }

.modal-dialog .content_block .sep {
	margin-top: 20px;
	margin-bottom: 22px;
	font-size: 30px;
	color: #3d3d3c;
	text-align: center;
	overflow: hidden;
	clear: both;
}

.modal-dialog .content_block p {
	font-size: 20px;
	color: #3d3d3c;
	line-height: 30px;
}




/************************* Slider Section End *************************/





/************************* Contact Section Start *************************/


#contact_section {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 140px;
	padding-bottom: 92px;
	background: url(../images/contact-bg.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
}

#contact_section .float-none { padding: 0; }

.contact_content {
	margin: 0 -10px;
	padding-top: 55px;
	padding-right: 100px;
	padding-bottom: 40px;
	padding-left: 100px;
	background-color: rgba(255,255,255,.93);
	overflow: hidden;
	clear: both;
}

.contact_content h3 {
	padding-bottom: 20px;
	font-size: 30px;
	color: #3d3d3c;
}

.contact_content .left-content {
	float: left;
	width: 400px;
}

.contact_content .right-content {
	float: right;
	width: 370px;
}

.contact_content .wpcf7-form-control-wrap {
	display: block;
	width: 100%;
}

.contact_content .textbox {
	display: block;
	width: 100%;
	margin-bottom: 22px;
	padding-left: 7px;
	font-size: 20px;
	color: #b1b1b0;
	line-height: normal;
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: dashed 1px #3d3d3c;
}

.contact_content .textbox::-webkit-input-placeholder { color: #b1b1b0; }

.iphone .contact_content .textbox,
.ipad .contact_content .textbox {
	border-bottom: dashed 1px #3d3d3c;
	background: none;
}

.contact_content .message {
	margin-top: 44px;
	padding-bottom: 2px;
}

.contact_content .textbox.wpcf7-not-valid { margin-bottom: 30px; }

.contact_content .wpcf7-not-valid-tip {
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 100%;
	margin-top: 5px;
	font-size: 16px;
}

.contact_content .wpcf7-response-output {
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	font-size: 16px;
}

.contact_content p {
	margin-bottom: 20px;
}

.contact_content p a { color: #3d3d3c; }

.contact_content .sub-btn {
	overflow: hidden;
	clear: both;
	text-align: right;
}

.contact_content .sub-btn .submit {
	height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 20px;
	color: #3d3d3c;
	line-height: 20px;
	background-color: transparent;
	background-image: url(../images/sub_bg_L.png), url(../images/sub_bg_R.png);
	background-repeat: no-repeat, no-repeat;
	background-position: top left, top right;
	border: none;
	border-radius: 0;
}

.webkit .contact_content .sub-btn .submit { padding-top: 2px; }

.contact_content .sub-btn .submit:hover {
	color: #c3234a;
	background-position: bottom left, bottom right;
}

.iphone .contact_content .textbox,
.ipad .contact_content .textbox,
.iphone .contact_content .sub-btn .submit,
.ipad .contact_content .sub-btn .submit {
	border: none;
	border-radius: 0;
}

/************************* Contact Section End *************************/




/************************* Footer Start *************************/

#footer {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 34px;
	background-color: #3d3d3c;
	text-align: center;
}

#footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
}

#footer p a {
	display: inline-block;
	margin-left: 8px;
	color: #fff;
	text-decoration: underline;
}


/************************* Footer End *************************/


/*==================================================================*/
/*========== New Class Add End ==========*/
/*==================================================================*/
