@font-face {
    font-family: 'another_typewriter';
    src: url('another_typewriter.eot');
    src: url('another_typewriter.eot') format('embedded-opentype'),
         url('another_typewriter.woff2') format('woff2'),
         url('another_typewriter.woff') format('woff'),
         url('another_typewriter.ttf') format('truetype'),
         url('another_typewriter.svg#another_typewriter') format('svg');
}
